/* ------- CONNEXION ------ */
body {
	background-image: url('images/cloud.jpg');
}

.title {
	font-weight: bold;
	color: black;
	text-align: center;
	margin: 70px 0;
	font-family: "mayBe", sans-serif;
}

form {
	border: 1px dashed #000;
	border-radius: 100px;
	padding: 20px 30px;
	text-align: center;
	background: rgba(245, 222, 179, 0.7);
}

input {
	display: block;
	padding: 10px 5px;
	text-align: center;
	border: 1px solid grey;
	border-radius: 10px;
	width: 300px;
	margin: 20px auto;
}

#submitCo, #submitInscrip, #submitADM {
	width: 150px;
	margin-bottom: 15px;
	background-color: #909090;
	color: white;
}

#submitCo:hover, #submitInscrip:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

section a {
	color: #000;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	font-size: 0.8em;
	background-color: white;
}

section a:hover {
	text-decoration: underline;
}

